// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-at-startup "fcitx5" "-d"
    spawn-at-startup "zen-browser"
    spawn-at-startup "helium-browser" "--app-id=hnpfjngllnobngcgfapefoaidbinmjnm"
    spawn-at-startup "Telegram"
